__pycache__/
OTTEHR/*.pyc
mimic_iii_exp/mimic_iii
mimic_iv_exp/mimic_iv
outputs/mimic_iii/admission_patient_diagnosis_ICD.csv
outputs/mimic_iii/ADMID_DIAGNOSIS_TARGET.csv
outputs/mimic_iii/ADMID_DIAGNOSIS_selected.csv
outputs/mimic_iii/CONS_VISITS.csv
outputs/mimic_iii/selected_code_stat.csv
outputs/mimic_iii/selected_codes.csv
outputs/mimic_iii/selected_df.csv
outputs/mimic_iii/selected_summary_mimic.csv
outputs/mimic_iii/summary_mimic.csv
outputs/mimic_iv/admission_patient_diagnosis_ICD.csv
outputs/cross/admission_patient_diagnosis_ICD.csv
config.py
OTTEHR/
physionet.org/
data/mimic_iv/diagnoses_icd.csv
data/eICU/diagnosis.csv
data/*
